.topic p{
    font-size: 2em;
    font-family: "Merriweather", serif;
    margin: 3em 5em 1em;
}

.adcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    max-width: 100%;
    user-select: none;
}

.adcards div {
    margin: 0;
    flex: 1 1 20%;
    max-width: 25%;
    text-align: center;
    transition: 200ms ease-in-out;
    border: 0.15em black solid;
    border-radius: .8em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background: white;
    padding: 0.2em;
    overflow: hidden;
}

.adcards img {
    cursor: pointer;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-user-drag: none;
}

.adcards div:hover {
    transition: 200ms ease-in-out;
    transform: scale(1.08);
    border: 0.15em #F2B807 solid;   
}